body {
	margin: 0;
}

.image-wrapper {
	background: no-repeat url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Donald_Trump_%2825218642186%29.jpg/512px-Donald_Trump_%2825218642186%29.jpg) 50% / 100%;
	img {
		vertical-align: top;
		width: 100%;
		opacity: 0;
	}
}

.quote-wrap {
	border: 1px solid black;
	margin: 8px;
	padding: 8px;
}

.vwrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe
  {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.jumbotron {
	background-color: rgba(0,0,0,0);
}



.main {
	// background-color: green;
}

@media all and (min-width: 780px) {
	.main {
		// background-color: red;
		width: 780px;
		margin: 0 auto;
	}
}
